<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel= "stylesheet" href = "css/style.css">
    <link rel= "stylesheet" href = "css/register.css">

</head>
<body class= "body">
    <header class="main-header">
        <div class="top-bar">

            <img src="/images/logo-mercado-liebre.svg" class= "logo">

            <form action="search" class="form-search-bar">
                <input type="text" name="search" placeholder="Buscar productos marcas y más...">
                <i class="fas fa-search"></i>
            </form>
           
            <h2 class="copy-header">
             <i class="fas fa-hand-holding-usd"></i>   
             Comprá en cuotas y con tarjeta de crédito</h2>
        </div>
        
        <a href="#" class="hamburger-button">
         <i class="fas fa-bars"></i>
        </a>
 
        <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
 
        <ul class="right-navbar">
            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
           </ul>
        </nav>
    </header>

    <section>
        <img src= "\images\img-home-banner.jpg" alt = "Banner de Ofertas" class="banner">
    </section>

    <main > 
        <form action="/login"method="post" enctype="multipart/form-data">
            
            <div class="form-control">
                <label for=""><h4>Nombre de usuario</h4></label>
                <input type="text"name="username">
                <span style="color: red; font-size: 10px; font-style:italic">Debés ingresar e-mail</span>
            </div>
            <div class="form-control">
                <label for=""><h4>Contraseña</h4></label>
                <input type="password"name="password">
            </div>
           
            <button type="submit" class="enviar">Enviar</button>
           
        </form>

    </main>


    <footer>
         <div class ="footer-dis">
        <section class= "main-footer">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="descripcion-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class= "main-footer">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="descripcion-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class= "main-footer">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p class="descripcion-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        </div>
        <section class="reservados">
            <p class="descripcion-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>