/*Estilos generales*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(/css/header.css);
@import url(/css/main.css);
@import url(/css/footer.css);
@import url(/css/register.css);
@import url(/css/login.css);


* {
    font-family:Roboto, Verdana, Geneva, Tahoma, sans-serif ;
    margin:0;
    padding:0;
}



@media(min-width: 361px){
    main section article:hover .descripcion{
        display:block;
    }
     .descripcion {
        transition: all 5s;
        
    }
    .product:hover{
        box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );
    }
    .product:hover .product-box  i{
        transform:rotate(90deg);
    }

    .product .product-box i{
        transition: all 450ms;
    }


    .top-bar{
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    .copy-header{
        max-width: 350px;
        text-align: center;
    }

    .hamburger-button{
        display: none;
    }
    .main-navbar{
        display:flex;
        margin: 10px auto;
        flex-direction: column;
        padding: 10px 10px;
    }
    
    .main-navbar ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3px 0;
    }

    

    .main-navbar a{
        font-size: 12px;
    }
    
    .todos-productos{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .todos-productos article{
        width: 45%;
    }

    .numeros-desc > *{
        font-size: 10px;
    }

}

@media(min-width: 769px){
    .todos-productos article{
        width: 22%;
    }
    .logo{
        width: 200px;

    }
    .main-navbar{
        display:flex;
        margin: 10px auto;
        flex-direction: row;
        padding: 10px 10px;
        justify-content: space-between;
    }
    .main-navbar a{
        font-size: 14px;
    }
    .top-bar{
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 1200px;
        align-items: center;
        margin:auto;
    }
    .form-search-bar{
        margin: 0 10px;
    }

    .copy-header{
        max-width: 400px;
        text-align: right;
        padding-left: 5px;
    }

    .footer-dis{
        display:flex;
        justify-content: space-around;

        
    }
    .footer-dis i:hover{
        color:#EAC926;
    }

    .main-footer{
        margin-bottom: 20px;
        width: 28%;
        
    }
   
}



@media(min-width: 1200px){
    .top-bar, .main-navbar{
        max-width: 1200px;
    }
    .main-navbar{
        text-align: center;
        margin:auto;
        padding-top: 15px;
    }
    
}